.footer {
  padding-block: 32px;
  overflow: hidden;
  display: grid;
  margin-left: 40px;
  justify-content: center;
  
  &__data {
    display: grid;
    grid-template-columns: repeat(3, 200px);
  }
  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: 25px;
  }
  &__links {
    display: grid;
    row-gap: 12px;
  }
  &__link {
    color: var(--container-color);
    transition: all 0.3s;
    &:hover {
      color: black;
    }
  }
  &__group {
    display: grid;
    place-items: center;
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 20px 30px;
      margin-bottom: 20px;
      border-radius: 64px;
      background: rgb(203, 198, 198);
      color: var(--container-color);
      font-size: var(--small-font-size);
    }
  }
  &__button {
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    color: var(--container-color);
    div {
      display: flex;
      gap: 16px;
      margin: 10px;
      a {
        color: var(--container-color);
        transition: all 0.3s;
        &:hover {
          color: black;
        }
      }
    }
  }
}
