
@media screen and (min-width: 820px) {
    .container{
        margin-inline: auto;
    }
    .section{
        padding: 100px 32px ;
    }
    .section__title{
        font-size: var(--h1-font-size);
    }
    .nav__toggle,.nav__close{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 72px;
    }

    .home{
        &__container{
            position: relative;
        }
        &__img{
            width: 500px;
            height: auto;
        }
        &__title{
            font-size: 100px;
            top: 100px;
            span:nth-child(2),
            :nth-child(3){
                z-index: -1;
            }
        }
        &__tooltip{
            right: 110px;
        }
        &__tooltip-img{
            width: initial;
        }
        &__tooltip-text{
            font-size: var(--normal-font-size);
            transform: translate(82px, -52px);
        }
        &___social-text{
            font-size: var(--normal-font-size);
        }
        &___social-links{
            row-gap: 16px;
        }
        &__social-link{
            font-size: 24px;
        }
        
    }

    .about__container{
            grid-template-columns: 400px 500px;
            align-items: center;
           column-gap: 80px;

    }

    .about__data .section__title,
    .about__data{
        text-align: initial;
    }
    .about__description{
        margin-bottom: 20px;
        text-align: start;
    }
    .about__img{
        width: 300px;
        
    }
    .favorite__container{
        max-width: 900px;
        margin-inline:auto;
    }
    .model{
        &__img{
            width: 400px;
        }
        &__tooltip{
            &-img{
                width: initial;
            }
            &-text{
                font-size: var(--normal-font-size);
                padding: 8px 20px;
                transform: translate(82px, -56px);
            }
            &-1{
                top:200px;
                left: 0px;
            }
            &-2{
                top: 10px;
                right: 60px;
            }
            &-3{
                bottom: 100px;
                left: 30px;
                transform: scale(-1);
            }
            &-4{
                bottom:240px;
                right: 40px;
            }

        }
    }
    .model__tooltip-3 .model__tooltip-text{
        transform: translate(82px, -56px) scale(-1);
    }
    .sponsor__container{
    
        grid-template-columns: repeat(4, max-content);
        column-gap: 10px;
        margin-bottom: 40px;
    }
} 


@media screen and (max-width:820px) {
    
    .favorite{
        &__card{
            div{
                flex-direction: column;
            }
        }
    }
    
}