@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
.header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.header .nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__logo {
  background-color: transparent;
}
.header .nav__link {
  color: var(--container-color);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}
.header .nav__link:hover {
  color: black;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 24px;
  color: var(--container-color);
  cursor: pointer;
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.nav__close {
  position: absolute;
  top: 16px;
  right: 24px;
}

.show-menu {
  top: 0;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 88px 72px;
    -webkit-backdrop-filter: blur(32px);
            backdrop-filter: blur(32px);
    --webkit-backdrop-filter: blur(32px);
  }
}
.home__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 112px 20px;
  row-gap: 40px;
}
.home__content {
  position: relative;
  display: grid;
  justify-self: center;
  padding: 0px 60px;
}
.home__img {
  width: 220px;
  position: relative;
}
.home__title {
  font-size: var(--biggest-font-size);
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  position: absolute;
  top: 70px;
}
.home__title span:nth-child(4),
.home__title :nth-child(8),
.home__title :nth-child(9) {
  z-index: -1;
}
.home__title span:nth-child(7) {
  margin-right: 20px;
}
.home__tooltip {
  position: absolute;
  top: 20px;
}
.home__tooltip-img {
  width: 60px;
}
.home__tooltip-text {
  background: var(--gradient-color);
  padding: 4px 10px;
  font-weight: var(--font-medium);
  border-radius: 64px;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}
.home__social {
  display: grid;
  justify-content: center;
  row-gap: 96px;
  position: absolute;
  top: 144px;
  left: -24px;
}
.home__social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--container-color);
}
.home__social-text::after {
  content: "";
  width: 48px;
  height: 1px;
  background-color: var(--container-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -64px;
  margin: auto;
}
.home__social-links {
  display: grid;
  row-gap: 12px;
  margin-left: 22px;
}
.home__social-link {
  font-size: 20px;
  color: var(--container-color);
  transition: color 0.4s;
}
.home__social-link:hover {
  color: black;
}

.button {
  background: linear-gradient(90deg, hsl(0, 4%, 68%) 0%, hsl(0, 12%, 89%) 100%);
  padding: 8px;
  border-radius: 64px;
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  transition: box-shadow 0.4s;
  width: 170px;
  margin: auto;
}
.button i {
  font-size: 32px;
  font-weight: 400;
  color: var(--container-color);
}
.button:hover {
  box-shadow: 0 12px 32px hsla(0, 7%, 8%, 0.12);
}

.about__container {
  row-gap: 50px;
  margin-bottom: 40px;
}
.about__data {
  text-align: center;
}
.about__description {
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.about__img {
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all 0.4s;
}
.about__img:hover {
  transform: scale(1.1);
}

.favorite {
  text-align: center;
  padding: 10px 40px;
}
.favorite__card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}
.favorite__card div {
  display: flex;
  gap: 30px;
}
.favorite__card img {
  width: 200px;
}
.favorite__card img:hover {
  transition: all 0.4s;
  width: 250px;
}

.model__container {
  padding-top: 32px;
  row-gap: 40px;
}
.model__content {
  position: relative;
  justify-self: center;
}
.model__img {
  width: 280px;
}
.model__tooltip {
  position: absolute;
}
.model__tooltip-text {
  background: var(--gradient-color);
  padding: 4px 12px;
  border-radius: 64px;
  color: var(--container-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}
.model__tooltip-1 {
  top: 130px;
  left: -20px;
  transform: scale(-1);
}
.model__tooltip-1 .model__tooltip-text {
  transform: translate(82px, -56px) scale(-1);
}
.model__tooltip-2 {
  top: 16px;
  right: 24px;
}
.model__tooltip-3 {
  bottom: 80px;
  left: 70px;
}
.model__tooltip-4 {
  bottom: 170px;
  right: 0;
}
.model__tooltip__button {
  justify-self: center;
}

.sponsor__img {
  width: 120px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.sponsor__img:hover {
  transform: scale(1.1);
}
.sponsor__container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.footer {
  padding-block: 32px;
  overflow: hidden;
  display: grid;
  margin-left: 40px;
  justify-content: center;
}
.footer__data {
  display: grid;
  grid-template-columns: repeat(3, 200px);
}
.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 25px;
}
.footer__links {
  display: grid;
  row-gap: 12px;
}
.footer__link {
  color: var(--container-color);
  transition: all 0.3s;
}
.footer__link:hover {
  color: black;
}
.footer__group {
  display: grid;
  place-items: center;
}
.footer__group input {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-radius: 64px;
  background: rgb(203, 198, 198);
  color: var(--container-color);
  font-size: var(--small-font-size);
}
.footer__button {
  outline: none;
  border: none;
  cursor: pointer;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  color: var(--container-color);
}
.footer__social div {
  display: flex;
  gap: 16px;
  margin: 10px;
}
.footer__social div a {
  color: var(--container-color);
  transition: all 0.3s;
}
.footer__social div a:hover {
  color: black;
}

@media screen and (min-width: 820px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding: 100px 32px;
  }
  .section__title {
    font-size: var(--h1-font-size);
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    -moz-column-gap: 72px;
         column-gap: 72px;
  }
  .home__container {
    position: relative;
  }
  .home__img {
    width: 500px;
    height: auto;
  }
  .home__title {
    font-size: 100px;
    top: 100px;
  }
  .home__title span:nth-child(2),
  .home__title :nth-child(3) {
    z-index: -1;
  }
  .home__tooltip {
    right: 110px;
  }
  .home__tooltip-img {
    width: initial;
  }
  .home__tooltip-text {
    font-size: var(--normal-font-size);
    transform: translate(82px, -52px);
  }
  .home___social-text {
    font-size: var(--normal-font-size);
  }
  .home___social-links {
    row-gap: 16px;
  }
  .home__social-link {
    font-size: 24px;
  }
  .about__container {
    grid-template-columns: 400px 500px;
    align-items: center;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .about__data .section__title,
  .about__data {
    text-align: initial;
  }
  .about__description {
    margin-bottom: 20px;
    text-align: start;
  }
  .about__img {
    width: 300px;
  }
  .favorite__container {
    max-width: 900px;
    margin-inline: auto;
  }
  .model__img {
    width: 400px;
  }
  .model__tooltip-img {
    width: initial;
  }
  .model__tooltip-text {
    font-size: var(--normal-font-size);
    padding: 8px 20px;
    transform: translate(82px, -56px);
  }
  .model__tooltip-1 {
    top: 200px;
    left: 0px;
  }
  .model__tooltip-2 {
    top: 10px;
    right: 60px;
  }
  .model__tooltip-3 {
    bottom: 100px;
    left: 30px;
    transform: scale(-1);
  }
  .model__tooltip-4 {
    bottom: 240px;
    right: 40px;
  }
  .model__tooltip-3 .model__tooltip-text {
    transform: translate(82px, -56px) scale(-1);
  }
  .sponsor__container {
    grid-template-columns: repeat(4, max-content);
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 820px) {
  .favorite__card div {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 56px;
  --gradient-color: linear-gradient(
    90deg,
    hsl(0, 4%, 68%) 0%,
    hsl(0, 12%, 89%) 100%
  );
  --body-color: hsl(0, 0%, 100%);
  --white-color: #9c9c9d;
  --text-color: #1d1d1f;
  --container-color: #7a7a7b;
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 50px;
  --h1-font-size: 24px;
  --h2-font-size: 19.2px;
  --h3-font-size: 16px;
  --normal-font-size: 15px;
  --small-font-size: 13px;
  --smaller-font-size: 12px;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size:300px;
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 13px;
  }
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--container-color);
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 100px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 24px;
}

.section {
  padding-block: 80px 16px;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 24px;
}

.main {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */